*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/.app/src/debug/res/values/google_maps_api.xml
/build
/captures
.externalNativeBuild
.cxx
